body
  font-family: Helvetica
  background: url("./background.png") transparent repeat fixed
  color: #fff

#slide, .slide-outer
  background-color: #c02842 !important

#slide
  border-radius: 0 0 8px 8px
  h1, h2, h3, h4
    font-family: 'TheSerif XBold'
  h2
    padding-bottom: 3%
  header
    background-color: #c02842
    border-bottom: 3px solid #951e33
    color: #fff
    height: 60px
    text-align: center
    img
      position: relative
      top: -18px
    #title
  #slide-current
    padding-top: 30px
